:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --primary: #bd86ed;
  --secondary: 4066;
  --netural: #888;
  --dark: #131a26;
  --light: #eee;
  --accent: #bcf3e2;
  --accent2: #ed8abc;
  --accent3: #c9b2ed;
  --border: #460c20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #8fdfeb;
  background-image: url("crossword.png");
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  border-radius: 1.7rem;
  overflow: hidden;
  box-shadow: 45px 50px 40px 10px rgba(0, 0, 0, 0.18);
  padding: 1rem;
  background-image: url("bedge-grounge.png");
  background-color: var(--primary);
  border: 20px solid var(--border);
  background-image: url("brushed-alum-dark.png");
}

.display {
  padding: 1.5rem;
  text-align: right;
  background-color: var(--accent);
  color: var(--dark);
  font-size: 1.4rem;
  font-weight: 300;
  border: 10px solid var(--border);
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  max-height: 80px;
}

.display span {
  font-size: 1.2rem;
  font-weight: 100;
  color: #555;
  margin-right: 0.2rem;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  opacity: 0.86;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--accent2);
  font-weight: 400;
}
.digits {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--accent3);
  background-image: url("brushed-alum-dark.png");
  padding: 1rem;
  gap: 1rem;
  border-radius: 0 0 1rem 1rem;
}
.digits button {
  flex: 1 1 30%;
  max-width: 33.33%;
  height: 5rem;
  border-radius: 10%;
  color: var(--light);
  border: 5px solid var(--border);
  font-size: 2rem;
  text-align: center;
  margin: 0.4rem 0;
  background-color: #a081df;
  transition: 0.5s;
  background-image: url("brushed-alum-dark.png");
}

.digits button:active {
  box-shadow: 5px 5px 4px 2px #000000;
  transition: 0s;
}

.digits button:focus {
  outline: 0;
}
